
#main {width: 1000px;}
#header {display:none;}
#page-title {display:none;}
#messages {display:none;}
#page_heading {display:none;}
#footer {display:none;}
#footer-wrapper {display:none;}
#breadcrumb {display:none;}
#page-wrapper {background:none;}
#footer-wrapper {background:none;}
.submitted {display:none;}
.user-menu-wrapper {display:none;}
#user-menu-wrapper {display:none;}
.menu-wrap {display:none;}
#menu-wrap {display:none;}