<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' *.facebook.com *.google-analytics.com *.sharethis.com *.psytechlab.net; script-src 'self' *.facebook.com *.facebook.net *.google-analytics.com *.sharethis.com 'unsafe-inline' 'unsafe-eval'"/>
<!--meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /-->

<meta property="og:type"               content="article" />
<meta property="og:title"              content="Трансформационная Игра Онлайн" />
<meta property="og:description"        content="В этой психологической игре воображение помогает самопознанию. Играй бесплатно! " />
<meta property="og:image"              content="nekker_cube.png" />
<meta propetty="og:image:width"        content="120"/>
<meta propetty="og:image:height"       content="120"/>

<link rel="img_src" href="nekker_cube.png" />
<link href="https://feoff0.bitbucket.io/nekker_cube.png" rel="image_src"/>
</head>

<link href="drupal_fix.css" type="text/css" rel="stylesheet" />
<link href="perspectives.css" type="text/css" rel="stylesheet" />
<script src="3rdparty/jquery-1.12.4.js"></script>
<script src="3rdparty/jquery-ui.js"></script>
<script src="3rdparty/jquery.ui.touch-punch.js"></script>

<link href="3rdparty/featherlight.min.css" type="text/css" rel="stylesheet" />
<script src="3rdparty/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="3rdparty/jquery.scrollTo.min.js" type="text/javascript"></script>
<script src="3rdparty/jquery.aSimpleTour.js" type="text/javascript"></script>
<script src="3rdparty/imagesloaded.pkgd.min.js" type="text/javascript"></script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" id="st_insights_js" src="https://ws.sharethis.com/button/buttons.js?publisher=355628df-190b-4a09-9c18-aff214689c16"></script>
<script type="text/javascript">stLight.options({publisher: "355628df-190b-4a09-9c18-aff214689c16", doNotHash: false, doNotCopy: true, hashAddressBar: true});</script>


<script type="text/javascropt">var isCordovaApp = !!window.cordova; var perspectivesBaseDir = ""; if (isCordovaApp) {perspectivesBaseDir="";} else {perspectivesBaseDir="/";}</script>

<link href="3rdparty/dice/main.css" type="text/css" rel="stylesheet"/>
<link href="3rdparty/dice/dice/dice.css" type="text/css" rel="stylesheet"/>
<script src="3rdparty/dice/libs/three.min.js"></script>
<script src="3rdparty/dice/libs/cannon.min.js"></script>
<script type="text/javascript" src="3rdparty/dice/teal.js"></script>
<script type="text/javascript" src="3rdparty/dice/dice/dice.js"></script>
<script type="text/javascript" src="3rdparty/dice/dice/main.js"></script>


<script src="lib/fb.js"></script>
<script type="text/javascript" src="log.js"></script>
<script type="text/javascript" src="perspectives.js"></script>


<!-- Google Analytics -->
<script>
if (typeof isCordovaApp == 'undefined') {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-90643202-1', 'auto');
  ga('send', 'pageview');
}
</script>

<!-- LOADING SCREEN -->

<div id="loader-wrapper">
    <div id="loader">Загрузка...</div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!-- MENU -->

<div class="menu_box">

<div class="menu">
<a href="#" id="tutorial_button">Как играть?</a>
</div>
<div class="menu">
<a href="#" id="video_button">Видео об игре</a>
</div>

<div class="share_submenu">
<div class="menu">Рассказать друзьям:</div>
<span class='st_facebook' displayText='Facebook'></span>
<span class='st_vkontakte' displayText='VK'></span>
</div>

<div class="menu">
<a href="#" id="report_error_button">Сообщить об ошибке</a>
</div>
<div class="menu">Создатели игры: <a id="game_author" href="http://www.refleksia.com/psygames"  target='_blank'>Студия Рефлексия</a></div>
<div class="menu">Онлайн-версия: <a id="game_author" href="http://www.psytechlab.net"  target='_blank'>Psytechlab.net</a> (c) 2017</div>
</div>

<!-- TOP HALF OF SCREEN -->
<div class="game">
<div class="top_half">

<!-- FIELD -->

<!-- TOP PART -->

<div class="game_field">

<div class="game_field_line">
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
</div>

<!-- LEFT AND RIGHT PARTS -->

<!-- level 1 -->

<div class="game_field_line">
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_text game_field_place" id="field_text_top" class="ui-widget-header">
  <p>Одиночество</p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
</div>

<!-- level 2 -->

<div class="game_field_line">
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
</div>

<!-- level 3 -->

<div class="game_field_line">
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_text game_field_place" id="field_text_left" class="ui-widget-header">
  <p>Бессилие'</p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>

<!-- PLAYER -->

<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
  <div class="draggable_player_at_center">Я</div>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_text game_field_place" id="field_text_right" class="ui-widget-header">
  <p>Никчемность</p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
</div>

<!-- level 4 -->

<div class="game_field_line">
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
</div>

<!-- level 5 -->

<div class="game_field_line">
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_text game_field_place" id="field_text_bottom" class="ui-widget-header">
  <p>Безумие</p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
</div>

<!-- BOTTOM PART -->

<div class="game_field_line">
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable game_field_place ui-widget-header">
  <p>     </p>
</div>
<div class="droppable_empty game_field_place ui-widget-header">
  <p>     </p>
</div>
</div>

</div>

<!-- CARDS of SPHERES -->

<!-- Second column -->
<div class ="draggable_box2">

<div class="draggable" class="ui-widget-content">
  <p>Тоска</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Печаль</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Боль</p>
</div> 
 
<div class="draggable" class="ui-widget-content">
  <p>Смерть</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Потеря</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Ложь</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Ярость</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Слезы</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Тьма</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Сумрак</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Увядание</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Стыд</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Вражда</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Забвение</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Утрата</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Агония</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Страдание</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Хаос</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Паралич</p>
</div>

<div class="draggable" class="ui-widget-content">
  <p>Безволие</p>
</div>

</div>

</div>

<div class="buttons_cards_box">
<div id="info_div"> </div>
<div id="selector_div">
<input type="text" id="set" value="1d6"></input><br/>
<button id="clear">clear</button>
</div>
<span id="label"></span>
<button id="throw" class="gameButton">Кубик</button>
<button id="makButton1" class="makButton gameButton">Карта</button>
<!-- MAK PLACEHOLDER -->
<div id="mak_placeholder" class="mak_placeholder"></div>
</div>

<!-- BOTTOM HALF OF SCREEN -->
<div id="canvas"></div>
</div>


<!-- DIALOGS -->
<div id="report_error" class="dialog">
<iframe id="report_error_frame" src="http://www.psytechlab.net/report_error" scrolling="no"></iframe>
</div>

<div id="facebook_approve" class="dialog">
<p>Нажмите, чтобы мы загрузили ваши данные из Facebook...</p>
<div>