.top_half {z-index:1;}
  .droppable , .droppable_empty, .droppable_visible, .droppable_text { z-index: 3; width: 10%; height: 2.5%; padding: 0.5em; display:inline-block; margin: 0.8%; border-style: dotted; background-color:white; }
  .droppable_empty {visibility:hidden;}
  .droppable_visible {visibility:visible; z-index: 5;}
  .droppable_text {border-style: none; font-weight: bold; font-size: large; text-align:center; }
  .ui-state-highlight{background-color: grey}
  .game_field_line { display: inline-block;  white-space: nowrap; width:100%; }
  .game_field {display: inline-block; width: 99%;}
  .top_half {display: inline-block; max-width:1000px;}
  
  .field_hint {cursor: pointer;}
  .ui-tooltip {padding: 10px 20px; color: white; border-radius: 20px; background-color: black; border: 2px solid white; z-index:10; width:30%;}
  

  .draggable, #draggable-nonvalid { border-radius: 8px; width: 9%; z-index:8; height: 25px; line-height: 25px; display: inline-block; padding: 0.5em; border-style: solid; cursor: pointer; cursor: hand; background-color: black; color:white; font-weight:bold; opacity:1;}
  .draggable_player_at_center { visibility: visible; z-index:9; margin-top: -25px; margin-left: 15px; width: 20px; height: 50px; padding: 0.5em; border-radius: 25px; border-style: solid; border-size:2px; cursor: pointer; cursor: hand; background-color: white; color:black;  font-size:large; display: inline-block;}
  .draggable_box2 { display: inline-block; width:99%; max-width:1000px;  border-style: solid; max-height: 125px; border-radius:15px; margin-top: 10px; padding-top: 5px; margin-bottom: 10px; padding-bottom: 12px; background-color: rgba(255, 255, 255, 0.1); border-color:black;}
  

  #canvas {position: absolute; top: 620px; min-height: 200px; height:calc(100% - 600px); height:-webkit-calc(100% - 600px); height:-moz-calc(100% - 600px); width:90%; max-width: 1000px; z-index: -10; }
  #selector_div {display:none;}
   
  .makButton { width: 80px;}
  .img_thumbnail {position: relative; overflow: hidden; max-width: 190px; margin-bottom:10px; opacity:0.8; }
  .buttons_cards_box{display: inline-block;  margin-top: 20px; width: 19%; vertical-align: top;}
  .lightbox_full_img .featherlight-content {overflow:inherit !important; cursor: pointer !important; cursor: hand !important; padding: 0px 0px 0px 0px !important;}
  .gameButton { margin: 2%; width: 80px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); padding: 3%; border-radius: 4px;}
  
    
   @media (max-width: 760px) {
   /*Overrides for small 360x800 phones*/
    .droppable , .droppable_empty, .droppable_visible, .droppable_text {font-size:6pt;}
    .droppable_empty {margin: 0.1%;}
    .draggable {font-size:6pt;}
    #canvas {position: absolute; top: 70%; height: 30%; width:80%; left:10%; z-index: -1;}
   }

.menu_box {
   display: inline-block;
   overflow: hidden;
   white-space: nowrap;
   font-size: 12pt;
   margin-bottom: 15px;
   border-radius: 10px;
   border-color: rgb(8, 68, 142);
   border-style: solid;
   vertical-align: middle;
   width: 100%;
  padding-bottom: 2px;
  padding-top: 4px;
  border-width: 2px;
}

.share_submenu {
  display: inline-block;
}
.menu {
  display: inline-block;
  margin-left: 20px;
  margin-right: 0px;
}

.menu a:link, .menu a:visited{
 color: black; 
}
#tutorial_button {
font-weight: bold;
}

.authors {
font-size: 7pt;
vertical-align:middle;
}

.dialog {
display: none;
margin: 10px;
padding: 10px;
}

#report_error_frame {
width: 100%;
height: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.lightbox_full_frame .featherlight-content {
width:540px;
border-radius: 5px;
}

.ui-helper-hidden-accessible {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}


#loader-wrapper .loader-section {
    position: absolute;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}