.droppable_visible { border-radius: 15px; }
.field_background { position:absolute; margin-top: -70px; margin-left: -70px; width:240px; z-index:-1;}
.draggable { width: 7%; z-index:8; height: 20px; padding: 0.5em; border-style: solid; cursor: pointer; cursor: hand; background-color: black; color:white; opacity:0.8;}
.game_field {background-image: url('https://staticdelivery.nexusmods.com/mods/120/images/442-2-1226780166.jpg'); opacity:0.99; padding: 10px;}

@media (max-width: 700px) {
 .field_background {width:100px; margin-top: -20px; margin-left:-20px;}
}